<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table table-hover">
    <thead class="text-warning">
    <th>city name</th>
    <th>country name(s)</th>

    </thead>
    <tbody>
    <tr th:each="city:${allCity}">
        <td th:text="${city.getCity()}"></td>
        <td th:text="${city.getCountry().getCountry()}"></td>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>